<%= simple_form_for(@room, :url => admin_room_path(@room), :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.input :name %>
  <%= f.input :floor %>
  <%= f.association :filters, as: :check_boxes %>
  <%= f.input :description, :input_html => {:class => 'span6', :rows => 6} %>
  <%= f.input :image, :as => 'file' %>
  <% unless @room.image.blank? %>
  <div class="control-group">
    <%= image_tag @room.image, :class => 'img-polaroid' %>
  </div>
  <% end %>

  <%= f.input :floor_map, :as => 'file' %>
  <% unless @room.floor_map.blank? %>
  <div class="control-group">
    <%= image_tag @room.floor_map, :class => 'img-polaroid' %>
  </div>
  <% end %>

  <div class="control-group">
    <div class="controls"><%= f.button :submit, 'Save', :class => 'btn-primary' %></div>
  </div>
<% end %>
