<h1>Rooms</h1>

<table class="table table-hover">
  <tr>
    <th class="span2">Name</th>
    <th class="span2">Floor</th>
    <th class="span4">Filters</th>
    <th class="span4"></th>
  </tr>
 <% @rooms.each do |room| %>
  <tr>
    <td><%= room.name %></td>
    <td><%= room.floor %></td>
    <td><% room.filters.each do |f| %>
      <code class="text-info"><%= f.name %></code>
    <% end %></td>
    <td>
      <%= link_to 'Edit', edit_admin_room_path(room), :class => 'btn' %>
      <%= link_to 'Delete', admin_room_path(room), :data => {:confirm => 'Are you sure?'}, :method => :delete, :class => 'btn btn-danger' %>
    </td>
  </tr>
 <% end %>
</table>
<br />

<%= link_to 'New Room', new_admin_room_path, :class => 'btn btn-primary' %>
