<table class="table table-hover my-reservations">
  <tr>
    <th class="span2">Room</th>
    <th class="span3">Date &amp; Time</th>
    <th class="span2">Request Date</th>
    <th class="span2"></th>
    <th class="span2"></th>
  </tr>
  <% @reservations[0].each do |reservation| %>
    <tr
    data-room-id="<%= reservation.room.id unless reservation.room.nil? %>"
    data-room-name="<%= reservation.room.name unless reservation.room.nil? %>"
    class="reservation"
    >
      <td><%= reservation.room.name unless reservation.room.nil? %></td>
      <td>
        <%= reservation.formatted_start %> -
        <%= raw reservation.formatted_end %>
        <i class="icon-time"></i><%= (reservation.duration / 3600).round %>
      </td>
      <td><%= reservation.formatted_created_at %></td>
      <td><%= reservation.status_string %></td>
      <td><%= reservation.keycard_checkout %></td>
    </tr>
  <% end %>
  <% if @reservations[0].empty? %>
    <tr><td colspan="5" class="row-empty">Empty</td></tr>
  <% end %>
  <% unless @reservations[1].empty? %>
    <tr>
      <th colspan="5">Expired &amp; Cancelled</th>
    </tr>
  <% end %>
  <% @reservations[1].each do |reservation| %>
    <tr class="reservation">
      <td><%= reservation.room.name unless reservation.room.nil? %></td>
      <td>
        <%= reservation.formatted_start %> -
        <%= raw reservation.formatted_end %>
        <i class="icon-time"></i><%= (reservation.duration / 3600).round %>
      </td>
      <td><%= reservation.formatted_created_at %></td>
      <td><%= reservation.status_string %></td>
      <td></td>
    </tr>
  <% end %>
</table>
