<div class="admin-sidebar">
  <div class="admin-userinfo well">
    Logged in as (<%= @current_user.onid %>)
  </div>
  <div class="admin-sidenav">
    <ul class="admin-sidetiles">
      <li><a href="<%= admin_settings_path %>">
          <i class="fa fa-2x fa-cogs"></i>
          <span>Settings</span>
      </a></li>

      <li><a href="<%= admin_roles_path %>">
          <i class="fa fa-2x fa-user"></i>
          <span>Roles</span>
      </a></li>

      <li><a href="<%= admin_rooms_path %>">
          <i class="fa fa-2x fa-building"></i>
          <span>Rooms</span>
      </a></li>

      <li><a href="<%= admin_filters_path %>">
          <i class="fa fa-2x fa-building"></i>
          <span>Filters</span>
      </a></li>

      <li><a href="<%= admin_key_cards_path %>">
          <i class="fa fa-2x fa-key"></i>
          <span>Keycards</span>
      </a></li>

      <li><a href="<%= admin_cleaning_records_path %>">
        <i class="fa fa-2x fa-calendar"></i>
        <span>Cleaning</span>
      </a></li>

      <li><a href="<%= admin_room_hours_path %>">
        <i class="fa fa-2x fa-clock-o"></i>
        <span>Hours</span>
      </a></li>
    </ul>
  </div>
</div>