<div class="popup osu-purple popover right" id="cancel-popup">
  <h3 class="popover-title">Cancel a reservation
    <span class="close-popup"><%= link_to "×", "#", :class => 'close' %></span>
  </h3>
  <div class="popup-content popover-content">
    <div class="popup-content-errors alert alert-danger"></div>
    <%= label_tag 'room_name', 'Room: ', :style => "display: inline;"%> <span class="room-name"></span><br/>
    <div class="time-range">
      <div class="time-range-label">
        <%= label_tag 'start_time', 'Start: ', :style => "display: inline;"%><span class="start-time"></span><br/>
        <%= label_tag 'end_time', 'End: ', :style => "display: inline;"%><span class="end-time"></span>
      </div>
    </div>
    <div class="popup-button cancellation-message">
      <%= link_to "Cancel It", reservation_path(1), :method => :delete, :remote => true, :class => "btn btn-danger" %>
    </div>
  </div>
  <div class="popup-message alert alert-success"></div>
</div>