<% if current_user.nil? %>
  <%= link_to "Login", login_path %> to make a reservation.
<% else %>
  <%= raw current_user.tag %>
  <p><strong>Logged in as:</strong><br />
    <%= current_user.onid %> <%= link_to '(Reservations)', reservations_path %> <%= link_to('(Admin)', admin_path) if current_user.admin? %> <%= link_to "Logout", logout_path %></p>
<% end %>