<% cache ["RoomList",@presenter.cache_key] do %>
  <% @presenter.floors.each do |floor| %>
    <div class="tab-pane <%= floor == 1 ? 'active' : '' %>" id="floor-<%= floor %>">
      <div class="room-data-wrap">
        <% @presenter.rooms.select { |r| r.floor == floor }.each do |room| %>
            <div class="room-data <%= room.filter_string %>" data-room-id="<%= room.id %>">
              <div class="title"><%= room.name %></div>
              <div class="room-data-bar progress vertical">
                <% room.decorated_events.each do |r| %>
                  <%= raw r.bar %>
                <% end -%>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>