      <div class="row">
        <div class="span12">
          <h2 id="heading">Study Room Reservation</h2>
        </div>
      </div>
      <div class="row osu-purple">
        <div class="span3" id="login-link">
          <%= render :partial => "login_link" %>
        </div>
        <div class="span9">
          <%= render 'announcement' -%>
          <h4><span id="date-header"><%= @presenter.start_time.strftime("%A, %B %d, %Y") %></span></h4>
          <div class="tabbable" id="tabs-floor">
            <ul class="nav nav-tabs">
              <% @presenter.floors.each do |floor| %>
                <li class="<%= floor == 1 ? 'active' : '' %>">
                  <a href="#floor-<%= floor %>" data-toggle="tab"><%= floor.ordinalize %> Floor</a>
                </li>
              <% end %>
            </ul>
            <div class="tab-content" id="dayviewTable">
              <div class="row-fluid" style="position:absolute">
                <%= render :partial => "time_list", :locals => {:start_time => @presenter.start_time } %>
                <div id="loading-spinner"></div>
              </div>
              <%= render :partial => 'room_list', :locals => {:floors => @floors} -%>
              <%= render :partial => 'legend' %>
            </div>
          </div>
          <div id="policies" class="span12">
            <a href="http://osulibrary.oregonstate.edu/study-rooms/policies" alt="Policies">Policies</a>
          </div>
        </div>
        <div class="span3" id="sidebar">
          <%= render :partial => 'sidebar' -%>
        </div>
      </div>
<%= render :partial => current_user.reservation_popup_partial %>
<%= render :partial => 'admin_update_popup' if current_user.staff? %>
<%= render :partial => 'cancel_popup' %>
<%= render :partial => 'alternate_admin_view' %>
