      <div class="row">
        <div class="span12">
          <h2 id="heading">Study Room Reservation</h2>
          <p>All study rooms have whiteboards. Some rooms have monitors and dry-erase walls.</p>
        </div>
      </div>
      <div class="row osu-purple">
        <div class="span9">
          <div class="alert alert-info" id="remindermessage">
            Fifth floor rooms are unlocked. No reservation needed.
          </div>
            <div class="tabbable" id="tabs-floor">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#floor-1" data-toggle="tab">1st Floor</a></li>
                <li><a href="#floor-2" data-toggle="tab">2nd Floor</a></li>
                <li><a href="#floor-5" data-toggle="tab">5th Floor</a></li>
                <li><a href="#floor-6" data-toggle="tab">6th Floor</a></li>
              </ul>
              <div class="tab-content" id="dayviewTable">
                <div class="row-fluid" style="position:absolute">
                  <div class="span12 room-time-reference-line">
                    <div class="">Rooms</div>
                    <% %w(am pm).each do |t| %>
                      <% ([12]+(1..11).to_a).each do |h| %>
                    <div class="room-time time-reference-line"><%= h %>:00 <%= t %></div>
                      <% end -%>
                    <% end -%>
                  </div>
                </div>
                <% @floors.each do |floor| %>
                <div class="tab-pane <%= floor == 1 ? 'active' : '' %>" id="floor-<%= floor %>">
                  <div class="room-data-wrap">
                    <% @rooms.select { |r| r.floor == floor }.each do |room| %>
                    <div class="room-data">
                      <div class="title"><%= room.name %></div>
                      <div class="room-data-bar progress vertical">
                        <% last_bar_end = 0 %>
                        <% room.reservations_today.each do |r| %>
                          <% if r.bar_start > last_bar_end %>
                            <div class="bar bar-success" style="height: <%= r.bar_start - last_bar_end %>px;" title="Available"></div>
                          <% end %>
                          <div class="bar bar-<%= r.color %>" style="height: <%= r.bar_length %>px;" title="<%= r.description %>"></div>
                          <% last_bar_end = r.bar_end %>
                        <% end -%>
                        <% if 480 > last_bar_end %>
                          <div class="bar bar-success" style="height: <%= 480 - last_bar_end %>px;" title="Available"></div>
                        <% end %>
                      </div>
                    </div>
                    <% end %>
                  </div>
                </div>
                <% end %>
              </div>
            </div>

        </div>
        <div class="span3">
          <%= render 'sidebar' -%>
        </div>
      </div>
