      <div class="row">
        <div class="span12">
          <h2 id="heading">Study Room Reservation</h2>
          <p>All study rooms have whiteboards. Some rooms have monitors and dry-erase walls.</p>
        </div>
      </div>
      <div class="row osu-purple">
        <div class="span9">
          <div class="alert alert-info" id="remindermessage">
            Fifth floor rooms are unlocked. No reservation needed.
          </div>
            <div class="tabbable" id="tabs-floor">
              <ul class="nav nav-tabs">
                <% @presenter.floors.each do |floor| %>
                  <li class="<%= floor == 1 ? 'active' : '' %>">
                    <a href="#floor-<%= floor %>" data-toggle="tab"><%= floor.ordinalize %> Floor</a>
                  </li>
                <% end %>
              </ul>
              <div class="tab-content" id="dayviewTable">
                <div class="row-fluid" style="position:absolute">
                  <div class="span0" id="room-time-list">
                    <% i = 0 %>
                    <% %w(am pm).each do |t| %>
                      <% ([12]+(1..11).to_a).each do |h| %>
                        <div class="room-time" data-hour='<%= i %>'><%= h %>:00 <%= t %> <i class="icon-chevron-right"></i></div>
                        <% i += 1 -%>
                      <% end -%>
                    <% end -%>
                    <div class="room-time" data-hour='24'>12:00 am <i class="icon-chevron-right"></i></div>
                  </div>
                  <div class="room-time-reference-line">
                    <div class=""></div>
                    <% (0..23).to_a.each do |h| %>
                    <div class="time-reference-line" data-hour='<%= h %>'></div>
                    <% end -%>
                  </div>
                  <div id="loading-spinner"></div>
                </div>
                <%= render :partial => 'room_list', :locals => {:floors => @floors} -%>
                <%= render :partial => 'legend' %>
              </div>
            </div>
        </div>
        <div class="span3">
          <%= render :partial => 'sidebar' -%>
        </div>
      </div>
<%= render :partial => 'reservation_popup' %>