    <tr class="reservation"
      data-room-id="<%= reservation.room.try(:id) %>"
      data-room-name="<%= reservation.room.try(:name) %>"
    >
      <td class="show-desktop"><%= reservation.room.try(:name) %></td>
      <td>
        <span class="hide-desktop">Room: <%= reservation.room.try(:name) %></span>
        <div class="hide-desktop weekday inline-block"><div class="d<%= reservation.end_time.wday %>"></div></div>

        <%= reservation.formatted_start %> -
        <%= raw reservation.formatted_end %>
        <i class="icon-time"></i><%= (reservation.duration / 3600).round %>
      </td>
      <td class="show-desktop"><div class="weekday"><div class="d<%= reservation.end_time.wday %>"></div></div></td>
      <td class="show-desktop"><%= reservation.formatted_created_at %></td>
      <td><%= reservation.status_string %></td>
    </tr>
