<h1>New role</h1>
<br /><br />
<%= simple_form_for(@role, :url => admin_role_path(@role), :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.input :onid %>
  <div class="control-group">
    <%= f.label :role %>
    <div class="controls"><%= f.select :role, {:staff => 'staff', :admin => 'admin'}, :class=>'span6'%></div>
  </div>
  <div class="control-group">
    <div class="controls"><%= f.button :submit, 'Create', :class => 'btn-primary' %></div>
  </div>
<% end %>

<div class="pull-right">
  <%= link_to 'Back', admin_roles_path, :class => 'btn' %>
</div>
