<div id="header" class="row-fluid">
  <h1>
    <a href="<%= APP_CONFIG['baseurl'] %>/">OSU Libraries</a>
  </h1>
</div>
<ul id="mobile-menu">
  <li id="mobile-main-menu">
    <ul class="menu">
      <li class="first leaf">
        <a href="<%= APP_CONFIG['baseurl'] %>/" title="" class="active">Home</a>
      </li>
      <li class="expanded">
        <a href="<%= APP_CONFIG['baseurl'] %>/find-it" title="">Find It</a>
        <ul class="menu">
          <li class="first collapsed">
            <span title="" class="nolink">Search Tools</span>
          </li>
          <li class="collapsed">
            <span title="" class="nolink">Services</span>
          </li>
          <li class="last collapsed">
            <span title="" class="nolink">Help</span>
          </li>
        </ul>
      </li>
      <li class="expanded">
        <a href="<%= APP_CONFIG['baseurl'] %>/in-the-library" title="">In the Library</a>
        <ul class="menu">
          <li class="first collapsed">
            <span title="" class="nolink">Services</span>
          </li>
          <li class="collapsed">
            <span title="" class="nolink">Equipment</span>
          </li>
          <li class="last collapsed">
            <span title="" class="nolink">Spaces</span>
          </li>
        </ul>
      </li>
      <li class="last expanded">
        <a href="<%= APP_CONFIG['baseurl'] %>/about" title="">About</a>
        <ul class="menu">
          <li class="first collapsed">
            <span title="" class="nolink">The Valley Library</span>
          </li>
          <li class="collapsed">
            <span title="" class="nolink">OSU Libraries</span>
          </li>
          <li class="collapsed">
            <span title="" class="nolink">Unique @ OSU</span>
          </li>
          <li class="last leaf">
            <a href="<%= APP_CONFIG['baseurl'] %>/news/messenger" title="official newsletter for OSU Libraries">The Messenger</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<!-- Main menu navbar -->
<div id="main-menu">
  <div class="region region-nav osu-purple">

    <div id="block-quicktabs-osu-library-search" class="block block-quicktabs">
      <div class="content">
        <div id="quicktabs-osu_library_search" class="quicktabs-wrapper quicktabs-style-osulp jquery-once-1-processed">
          <div class="item-list">
            <ul class="quicktabs-tabs quicktabs-style-osulp">
              <li class="active first">
                <a href="#quicktabs-tabpage-osu_library_search-0" id="quicktabs-tab-osu_library_search-0" class="active quicktabs-loaded jquery-once-2-processed">1Search</a>
              </li>
              <li>
                <a href="#quicktabs-tabpage-osu_library_search-1" id="quicktabs-tab-osu_library_search-1" class="active jquery-once-2-processed">Course Reserves</a>
              </li>
            </ul>
          </div>
          <div id="quicktabs-container-osu_library_search" class="quicktabs_main quicktabs-style-osulp">
            <div id="quicktabs-tabpage-osu_library_search-0" class="quicktabs-tabpage ">
              <div id="block-osul-search-osul-search" class="block block-osul-search">
                <div class="content">
                  <form class="osul-search-form" action="//library.oregonstate.edu/" method="post" id="osul-search-library-form" accept-charset="UTF-8">
                    <div>
                      <div class="form-item form-type-textfield form-item-query-temp">
                        <input id="query_temp" placeholder="&quot;Use quotation marks for exact match&quot;" class="search form-text"
                               size="100" maxlength="128" type="text"  name="query_temp" value="">
                      </div>
                      <input alt="search" type="submit" id="edit-submit" name="op" value="Search" class="form-submit">
                      <div class="search-links">
                        <a href="http://search.library.oregonstate.edu/primo_library/libweb/action/search.do?mode=Advanced&amp;ct=AdvancedSearch&amp;vid=OSU">Advanced Search</a>
                        <a href="//guides.library.oregonstate.edu/Primo">Search tips</a>
                      </div>
                      <input name="search_scope" type="hidden" value="everything">
                      <input name="institution" type="hidden" value="OSU">
                      <input name="vid" type="hidden" value="OSU">
                      <input name="displayMode" type="hidden" value="full">
                      <input name="query" type="hidden" value="">
                      <input name="tab" type="hidden" value="default_tab">
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div id="quicktabs-tabpage-osu_library_search-1" class="quicktabs-tabpage quicktabs-hide">
              <div id="block-osul-search-course-reserves" class="block block-osul-search">
                <div class="content">
                  <form class="osul-search-form" action="//library.oregonstate.edu/" method="post" id="osul-search-reserves-form" accept-charset="UTF-8">
                    <div>
                      <div class="form-item form-type-textfield form-item-query-temp-reserve">
                        <input id="query_temp_reserve"  placeholder="&quot;Use quotation marks for exact match&quot;" class="search form-text"
                               size="100"  maxlength="128" type="text" name="query_temp_reserve" value="">
                      </div>
                      <input alt="search"type="submit" id="edit-submit--2" name="op" value="Search" class="form-submit">
                      <div class="search-links">
                        <a href="http://search.library.oregonstate.edu/primo_library/libweb/action/search.do?mode=Advanced&amp;ct=AdvancedSearch&amp;vid=OSU&amp;tab=cr_tab">Advanced Search</a>
                        <a href="//guides.library.oregonstate.edu/Primo">Search tips</a>
                      </div>
                      <input name="search_scope" type="hidden" value="osu_cr">
                      <input name="institution" type="hidden" value="OSU">
                      <input name="vid" type="hidden" value="OSU">
                      <input name="displayMode" type="hidden" value="full">
                      <input name="displayField" type="hidden" value="all">
                      <input name="highlight" type="hidden" value="true">
                      <input name="mode" type="hidden" value="Basic">
                      <input name="tab" type="hidden" value="cr_tab">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="block-megamenu-menu-menu-osul" class="block block-megamenu">
      <div class="content">
        <ul id="megamenu-menu-menu-osul" class="megamenu-menu columnar megamenu-skin-osul">
          <li id="megamenu-mlid-182036" class="megamenu-parent megamenu-parent-0 odd half-1 leaf-0 first menu-182036  first active">
            <h2 class="megamenu-parent-title">
              <a href="<%= APP_CONFIG['baseurl'] %>/" class="active">Home</a>
            </h2>
          </li>
          <li id="megamenu-mlid-182041" class="megamenu-parent megamenu-parent-1 even half-1 leaf-1 menu-182041">
            <h2 class="megamenu-parent-title">
              <a href="<%= APP_CONFIG['baseurl'] %>/find-it">Find It</a>
            </h2>
            <ul class="megamenu-bin megamenu-slots-columnar" style="top: -9000px; left: 0px; width: 624px;">
              <li id="megamenu-mlid-182051" class="megamenu-slot megamenu-slot-0 odd half-1 leaf-0 first  first">
                <h3 class="megamenu-slot-title">
                  <span class="nolink">Search Tools</span>
                </h3>
                <ul class="megamenu-items ">
                  <li id="megamenu-mlid-182046" class="megamenu-item megamenu-item-0 odd half-1 leaf-0 first  first">
                    <a href="http://search.library.oregonstate.edu/primo_library/libweb/action/search.do?mode=Basic&amp;vid=OSU&amp;tab=default_tab&amp;">1Search</a>
                  </li>
                  <li id="megamenu-mlid-182056" class="megamenu-item megamenu-item-1 even half-1 leaf-1 ">
                    <a href="//library.oregonstate.edu/library-catalog">Library Catalog</a></li>
                  <li id="megamenu-mlid-182061" class="megamenu-item megamenu-item-2 odd half-1 leaf-2 ">
                    <a href="<%= APP_CONFIG['baseurl'] %>/research-databases">Databases</a>
                  </li>
                  <li id="megamenu-mlid-182116" class="megamenu-item megamenu-item-3 even half-2 leaf-3 ">
                    <a href="//ica.library.oregonstate.edu/subject-guide/1471-OSU-Libraries-Ebooks">E-books</a>
                  </li>
                  <li id="megamenu-mlid-182066" class="megamenu-item megamenu-item-4 odd half-2 leaf-4 last  last">
                    <!--<a href="http://search.library.oregonstate.edu/primo_library/libweb/action/dlSearch.do?institution=OSU&amp;query=facet_atoz%2cexact%2cA&amp;indx=1&amp;bulkSize=30&amp;dym=false&amp;loc=local%2cscope%3a(AZOSU)&amp;fn=goAlmaAz&amp;sortField=stitle&amp;almaAzSearch=true&amp;azSearch=true">E-journals</a>-->
                    <a href="http://search.library.oregonstate.edu/primo_library/libweb/action/search.do?mode=Basic&amp;vid=OSU&amp;tab=default_tab&amp;">E-journals</a>
                  </li>
                </ul>
              </li>
              <li id="megamenu-mlid-228296"
                  class="megamenu-slot megamenu-slot-1 even half-1 leaf-1 ">
                <h3 class="megamenu-slot-title">
                  <span class="nolink">Services</span>
                </h3>
                <ul class="megamenu-items ">
                  <li id="megamenu-mlid-182071" class="megamenu-item megamenu-item-0 odd half-1 leaf-0 first  first">
                    <a href="<%= APP_CONFIG['baseurl'] %>/reserves">Course Reserves</a>
                  </li>
                  <li id="megamenu-mlid-183596" class="megamenu-item megamenu-item-1 even half-1 leaf-1 ">
                    <a href="<%= APP_CONFIG['baseurl'] %>/ill">Interlibrary Loan</a>
                  </li>
                  <li id="megamenu-mlid-252791" class="megamenu-item megamenu-item-2 odd half-2 leaf-2 ">
                    <a href="<%= APP_CONFIG['baseurl'] %>/purchase-request">Purchase Requests</a>
                  </li>
                  <li id="megamenu-mlid-228926" class="megamenu-item megamenu-item-3 even half-2 leaf-3 last  last">
                    <a href="<%= APP_CONFIG['baseurl'] %>/scan-deliver">Scan  &amp; Deliver</a>
                  </li>
                </ul>
              </li>
              <li id="megamenu-mlid-228301"
                  class="megamenu-slot megamenu-slot-2 odd half-2 leaf-2 last  last">
                <h3 class="megamenu-slot-title"><span class="nolink">Help</span></h3>
                <ul class="megamenu-items ">
                  <li id="megamenu-mlid-228321" class="megamenu-item megamenu-item-0 odd half-1 leaf-0 first  first">
                    <a href="<%= APP_CONFIG['baseurl'] %>/reference">Ask a Librarian</a></li>
                  <li id="megamenu-mlid-228311" class="megamenu-item megamenu-item-1 even half-1 leaf-1 ">
                    <a href="guides.library.oregonstate.edu">Research Guides</a></li>
                  <li id="megamenu-mlid-254846" class="megamenu-item megamenu-item-3 even half-2 leaf-3 last  last">
                    <a href="//diy.library.oregonstate.edu/">Library DIY: Do It Yourself</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li id="megamenu-mlid-182161"
              class="megamenu-parent megamenu-parent-2 odd half-2 leaf-2 menu-182161">
            <h2 class="megamenu-parent-title"><a href="<%= APP_CONFIG['baseurl'] %>/in-the-library">In the Library</a></h2>
            <ul class="megamenu-bin megamenu-slots-columnar" style="top: -9000px; left: 0px; width: 624px;">
              <li id="megamenu-mlid-183581" class="megamenu-slot megamenu-slot-0 odd half-1 leaf-0 first  first">
                <h3 class="megamenu-slot-title">
                  <span class="nolink">Services</span>
                </h3>
                <ul class="megamenu-items ">
                  <li id="megamenu-mlid-183471" class="megamenu-item megamenu-item-0 odd half-1 leaf-0 first  first">
                    <a href="<%= APP_CONFIG['baseurl'] %>/borrowing">Borrowing</a>
                  </li>
                  <li id="megamenu-mlid-183586" class="megamenu-item megamenu-item-1 even half-1 leaf-1 ">
                    <a href="//oregonstate.edu/is/mediaservices/sms/">Student Multimedia Services</a>
                  </li>
                  <li id="megamenu-mlid-183591" class="megamenu-item megamenu-item-2 odd half-1 leaf-2 ">
                    <a href="//oregonstate.edu/childcare/ourlittlevillage">Child Care</a>
                  </li>
                  <li id="megamenu-mlid-183606" class="megamenu-item megamenu-item-3 even half-2 leaf-3 ">
                    <a href="<%= APP_CONFIG['baseurl'] %>/accessibility-services">Accessibility Services</a>
                  </li>
                  <li id="megamenu-mlid-239866" class="megamenu-item megamenu-item-4 odd half-2 leaf-4 last  last">
                    <a href="//oregonstate.edu/is/tss/och">OSU Computer Helpdesk</a>
                  </li>
                </ul>
              </li>
              <li id="megamenu-mlid-183476" class="megamenu-slot megamenu-slot-1 even half-1 leaf-1 ">
                <h3 class="megamenu-slot-title"><span class="nolink">Equipment</span>
                </h3>
                <ul class="megamenu-items ">
                  <li id="megamenu-mlid-183561" class="megamenu-item megamenu-item-0 odd half-1 leaf-0 first  first">
                    <a href="<%= APP_CONFIG['baseurl'] %>/computers">Computers</a>
                  </li>
                  <li id="megamenu-mlid-183481" class="megamenu-item megamenu-item-1 even half-1 leaf-1 ">
                    <a href="<%= APP_CONFIG['baseurl'] %>/laptops">Laptops</a>
                  </li>
                  <li id="megamenu-mlid-183486" class="megamenu-item megamenu-item-2 odd half-1 leaf-2 ">
                    <a href="<%= APP_CONFIG['baseurl'] %>/lockers">Lockers</a>
                  </li>
                  <li id="megamenu-mlid-183556" class="megamenu-item megamenu-item-3 even half-1 leaf-3 ">
                    <a href="<%= APP_CONFIG['baseurl'] %>/copiers">Copiers</a>
                  </li>
                  <li id="megamenu-mlid-183551" class="megamenu-item megamenu-item-4 odd half-2 leaf-4 ">
                    <a href="<%= APP_CONFIG['baseurl'] %>/printers">Printers</a>
                  </li>
                  <li id="megamenu-mlid-183491" class="megamenu-item megamenu-item-5 even half-2 leaf-5 ">
                    <a href="<%= APP_CONFIG['baseurl'] %>/kindles">Kindles</a>
                  </li>
                  <li id="megamenu-mlid-239966" class="megamenu-item megamenu-item-6 odd half-2 leaf-6 last  last">
                    <a href="<%= APP_CONFIG['baseurl'] %>/tablets">Tablets</a>
                  </li>
                </ul>
              </li>
              <li id="megamenu-mlid-183496" class="megamenu-slot megamenu-slot-2 odd half-2 leaf-2 last  last">
                <h3 class="megamenu-slot-title">
                  <span class="nolink">Spaces</span>
                </h3>
                <ul class="megamenu-items ">
                  <li id="megamenu-mlid-183541" class="megamenu-item megamenu-item-0 odd half-1 leaf-0 first  first">
                    <a href="<%= APP_CONFIG['baseurl'] %>/study-rooms">Study Rooms</a>
                  </li>
                  <li id="megamenu-mlid-183576" class="megamenu-item megamenu-item-1 even half-1 leaf-1 ">
                    <a href="<%= APP_CONFIG['baseurl'] %>/classrooms">Classrooms</a>
                  </li>
                  <li id="megamenu-mlid-183951" class="megamenu-item megamenu-item-2 odd half-1 leaf-2 ">
                    <a href="<%= APP_CONFIG['baseurl'] %>/floormaps">Floormaps</a>
                  </li>
                  <li id="megamenu-mlid-183566" class="megamenu-item megamenu-item-3 even half-1 leaf-3 ">
                    <a href="<%= APP_CONFIG['baseurl'] %>/learning-commons">Learning Commons</a>
                  </li>
                  <li id="megamenu-mlid-183571" class="megamenu-item megamenu-item-4 odd half-2 leaf-4 ">
                    <a href="<%= APP_CONFIG['baseurl'] %>/clc">Collaborative Learning Center</a>
                  </li>
                  <li id="megamenu-mlid-183546" class="megamenu-item megamenu-item-5 even half-2 leaf-5 ">
                    <a href="<%= APP_CONFIG['baseurl'] %>/research-rooms">Research Rooms</a>
                  </li>
                  <li id="megamenu-mlid-183601" class="megamenu-item megamenu-item-6 odd half-2 leaf-6 last  last">
                    <a href="//webcam.oregonstate.edu/java2/">Java II</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li id="megamenu-mlid-182176" class="megamenu-parent megamenu-parent-3 even half-2 leaf-3 last menu-182176  last">
            <h2 class="megamenu-parent-title">
              <a href="<%= APP_CONFIG['baseurl'] %>/about">About</a>
            </h2>
            <ul class="megamenu-bin megamenu-slots-columnar" style="top: -9000px; left: 0px; width: 648px;">
              <li id="megamenu-mlid-185241" class="megamenu-slot megamenu-slot-0 odd half-1 leaf-0 first  first">
                <h3 class="megamenu-slot-title">
                  <span class="nolink">The Valley Library</span>
                </h3>
                <ul class="megamenu-items ">
                  <li id="megamenu-mlid-239721" class="megamenu-item megamenu-item-0 odd half-1 leaf-0 first  first">
                    <a href="<%= APP_CONFIG['baseurl'] %>/about/valley">About The Valley Library</a>
                  </li>
                  <li id="megamenu-mlid-184026" class="megamenu-item megamenu-item-1 even half-1 leaf-1 ">
                    <a href="<%= APP_CONFIG['baseurl'] %>/hours">Hours</a>
                  </li>
                  <li id="megamenu-mlid-229071" class="megamenu-item megamenu-item-2 odd half-1 leaf-2 ">
                    <a href="<%= APP_CONFIG['baseurl'] %>/policies">Policies</a>
                  </li>
                  <li id="megamenu-mlid-185251" class="megamenu-item megamenu-item-3 even half-1 leaf-3 ">
                    <a href="<%= APP_CONFIG['baseurl'] %>/visit">Visiting</a>
                  </li>
                  <li id="megamenu-mlid-185311" class="megamenu-item megamenu-item-4 odd half-2 leaf-4 ">
                    <a href="<%= APP_CONFIG['baseurl'] %>/nwart">Northwest Art Exhibit</a>
                  </li>
                  <li id="megamenu-mlid-185321" class="megamenu-item megamenu-item-5 even half-2 leaf-5 ">
                    <a href="<%= APP_CONFIG['baseurl'] %>/social-media-directory">Social Media Directory</a>
                  </li>
                  <li id="megamenu-mlid-240801" class="megamenu-item megamenu-item-6 odd half-2 leaf-6 last  last">
                    <a href="<%= APP_CONFIG['baseurl'] %>/jobs">Jobs</a>
                  </li>
                </ul>
              </li>
              <li id="megamenu-mlid-185256" class="megamenu-slot megamenu-slot-1 even half-1 leaf-1 ">
                <h3 class="megamenu-slot-title">
                  <span class="nolink">OSU Libraries</span>
                </h3>
                <ul class="megamenu-items ">
                  <li id="megamenu-mlid-239881" class="megamenu-item megamenu-item-0 odd half-1 leaf-0 first  first">
                    <a href="<%= APP_CONFIG['baseurl'] %>/civility">Civility Campaign</a>
                  </li>
                  <li id="megamenu-mlid-239716" class="megamenu-item megamenu-item-1 even half-1 leaf-1 ">
                    <a href="<%= APP_CONFIG['baseurl'] %>/about/OSU-Libraries">About OSU Libraries</a>
                  </li>
                  <li id="megamenu-mlid-185246" class="megamenu-item megamenu-item-2 odd half-1 leaf-2 ">
                    <a href="<%= APP_CONFIG['baseurl'] %>/staff/directory">Staff Directory</a>
                  </li>
                  <li id="megamenu-mlid-185271" class="megamenu-item megamenu-item-3 even half-1 leaf-3 ">
                    <a href="<%= APP_CONFIG['baseurl'] %>/administration">Administration</a>
                  </li>
                  <li id="megamenu-mlid-239711" class="megamenu-item megamenu-item-4 odd half-2 leaf-4 ">
                    <a href="<%= APP_CONFIG['baseurl'] %>/collections">Collections</a>
                  </li>
                  <li id="megamenu-mlid-185316" class="megamenu-item megamenu-item-5 even half-2 leaf-5 ">
                    <a href="<%= APP_CONFIG['baseurl'] %>/departments">Departments</a>
                  </li>
                  <li id="megamenu-mlid-185261" class="megamenu-item megamenu-item-6 odd half-2 leaf-6 ">
                    <a href="//blogs.oregonstate.edu/cascadeslibrary/">Cascades Campus Library</a>
                  </li>
                  <li id="megamenu-mlid-185266" class="megamenu-item megamenu-item-7 even half-2 leaf-7 last  last">
                    <a href="//guin.library.oregonstate.edu">Guin Library</a>
                  </li>
                </ul>
              </li>
              <li id="megamenu-mlid-185276" class="megamenu-slot megamenu-slot-2 odd half-2 leaf-2 ">
                <h3 class="megamenu-slot-title">
                  <span class="nolink">Unique @ OSU</span>
                </h3>
                <ul class="megamenu-items ">
                  <li id="megamenu-mlid-185281" class="megamenu-item megamenu-item-0 odd half-1 leaf-0 first  first">
                    <a href="http://oregondigital.org">Digital Collections</a>
                  </li>
                  <li id="megamenu-mlid-239816" class="megamenu-item megamenu-item-1 even half-1 leaf-1 ">
                    <a href="//cdss.library.oregonstate.edu/">Center for Digital Scholarship</a>
                  </li>
                  <li id="megamenu-mlid-185296" class="megamenu-item megamenu-item-2 odd half-1 leaf-2 ">
                    <a href="//ir.library.oregonstate.edu/dspace/">ScholarsArchive</a>
                  </li>
                  <li id="megamenu-mlid-185286" class="megamenu-item megamenu-item-3 even half-2 leaf-3 ">
                    <a href="http://oregonexplorer.info">Oregon Explorer</a>
                  </li>
                  <li id="megamenu-mlid-185301" class="megamenu-item megamenu-item-4 odd half-2 leaf-4 ">
                    <a href="//scarc.library.oregonstate.edu/">Special Collections &amp; Archives Research Center</a>
                  </li>
                  <li id="megamenu-mlid-185291" class="megamenu-item megamenu-item-5 even half-2 leaf-5 last  last">
                    <a href="http://osupress.oregonstate.edu/">OSU Press</a>
                  </li>
                </ul>
              </li>
              <li id="megamenu-mlid-185326" class="megamenu-slot megamenu-slot-3 even half-2 leaf-3 last  last">
                <h3 class="megamenu-slot-title"><a href="<%= APP_CONFIG['baseurl'] %>/giving">Giving to OSU Libraries and Press</a></h3>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /#main-menu -->
<!-- Messages and breadcrumbs -->
<div id="messages"></div>
<!-- messages -->
<!-- Full width top region -->
<!-- Now divide into main column and right sidebar -->
<!-- /main-body-row -->
<!-- Full width above footer -->
