<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Keycard Checkin</h4>
</div>
<div class="modal-body">
  <p>
    <b>Reserved For:</b> <%= @keycard.reservation.user.name %> (<%= @keycard.reservation.user.onid %>)<br/>
    <b>Reserved By:</b> <%= @keycard.reservation.reserver.name %> (<%= @keycard.reservation.reserver.onid %>)<br/>
    <b>Room:</b> <%= @keycard.room.name %><br/>
    <b>Start Time:</b> <%= @keycard.reservation.formatted_start %><br/>
    <b>End Time:</b> <%= @keycard.reservation.formatted_end %><br/>
  </p>
  <b>Would you like to check this card in?</b>
</div>
<div class="modal-footer">
  <%= link_to "Yes", "#", :class => "btn btn-success" %> <%= link_to "No", "#", :class => "btn btn-danger" %>
</div>