<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Study Room Reservation | OSU Libraries | Oregon State University</title>
  <%= stylesheet_link_tag :application, :media => 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% cache "Header" do -%>
      <%= render 'common_header' -%>
    <% end -%>

    <%= render 'flashes' -%>
    <%= yield %>
  </div>
  <% cache "Footer" do -%>
    <%= render 'common_footer' -%>
  <% end -%>
  <%= render 'javascript' %>
</body>
</html>
