<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Study Room Reservation | OSU Libraries | Oregon State University</title>
  <%= stylesheet_link_tag :application, :media => 'all' %>
  <%= csrf_meta_tags %>
</head>
<body data-push-server="<%= APP_CONFIG['push']['server'] %>">
  <%= render 'shared/admin_navbar' if current_user.staff? %>
  <%= raw current_user.tag  unless current_user.nil?%>
  <% cache "Tophat" do -%>
    <%= render 'shared/common_tophat' -%>
  <% end -%>
  <div class="container">
    <div id="common-header" class="_osul">
    <% cache "Header" do -%>
      <%= render 'shared/common_header' -%>
    <% end -%>
    </div>

    <%= render 'shared/flashes' -%>
    <%= yield %>
  </div>
  <% cache "Footer" do -%>
    <%= render 'shared/common_footer' -%>
  <% end -%>
  <%= render 'shared/modal_skeleton' %>
  <%= render 'shared/javascript' %>
</body>
</html>
